---
layout: home
---

<div class="px-10 pb-8 lg:px-20">
    <div class="text-xl text-primary-950 font-serif">
        The <i>Koralm Kombinatorik Kolloquium (&ldquo;KoKoKo&rdquo;)</i> is an annual workshop
        on <i>enumerative and analytic combinatorics</i> usually held
        on either side of the Koralm in Austria.
    </div>
</div>

{% for meeting in site.data.meetings reversed %}
<section class="mb-8">
{% assign year = meeting.date | date: "%Y" %}
{% assign talks = site.talks | where_exp:"talk","talk.path contains year"%}
<h3 class="mb-2 font-sans font-bold text-xl inline-flex flex-wrap">
    <span class="text-4xl mr-2">{{year}}</span>
    {% if meeting.hide_date != true %}
    <span class="px-2 py-1 text-sm border-1 border-primary-800 bg-primary-800 text-white rounded-xl self-end mr-2">{{ meeting.date | date: "%B, %e" }}</span>
    <span class="self-end">
    {{ meeting.location }}
    </span>
    {% endif %}
</h3>
{% if meeting.announcement %}
<div class="flex flex-row border-3 my-2 p-4 border-primary rounded-xl bg-primary-100">
    <div class="my-auto mr-2 text-primary-700">
        {% include icon_campaign.html size="32" %}
    </div>
    <div class="flex-1 my-auto">
        {{meeting.announcement}}
    </div>
</div>
{% endif %}
{% if meeting.organizers %}
<p class="pb-3 pt-0 opacity-80">
    Organizer(s): {{ meeting.organizers | join:", " }}
</p>
{% endif %}
{% if meeting.photourl %}
<div class="pb-3">
    <img src="{{ meeting.photourl | relative_url }}" class="lg:w-[65%] xs:w-[100%] mx-auto">
</div>
{% endif %}
{% for session in meeting.sessions %}
{% assign session_talks = talks | where_exp:"talk","talk.session == session.name" | sort: "time" %}
<div class="pb-4">
    <h5 class="font-serif font-medium text-xl mb-2">
        {{ session.name }}
        <span class="ml-2 opacity-70 text-sm">{{session.room}}</span>
    </h5>
    <dl class="border-l-5 border-primary-800 grid grid-cols-[auto_1fr] gap-4 mb--2">
        {% for talk in session_talks %}
        <dt class="text-white text-center self-start bg-primary-800 px-2 pb-1 pt-[5px] rounded-r-xl font-sans font-bold text-sm">{{ talk.time }}</dt>
        <dd class="pt-1 -mb-2 pb-2" x-data="{ abstract_expanded: false }">
            {% if talk.presenter %}
            <div class="mb-1">
                <span class="">{{ talk.presenter }}</span>
                <span class="text-xs ml-1">{{ talk.affiliation }}</span>
            </div>
            {% endif %}
            <em class="font-serif">{{ talk.title }}</em>
            {% assign content = talk.content | strip_newlines %}
            {% if content != "" %}
            <button @click="abstract_expanded = ! abstract_expanded" class="ml-3 text-primary-900 font-bold hover:text-primary-800 cursor-pointer">
                <template x-if="! abstract_expanded"><span>[+]</span></template>
                <template x-if="abstract_expanded"><span>[-]</span></template>
            </button>
            <div class="mt-1 text-sm" x-show="abstract_expanded" x-collapse>
                {{ talk }}
            </div>
            {% endif %}
        </dd>
        {% endfor %}
        {% if session.ended_by %}
        <dt class="text-white text-center self-start bg-primary-800 px-2 pb-1 pt-[5px] rounded-r-xl font-sans font-bold text-sm">
            {{ session.ended_at | default:"Break" }}
        </dt>
        <dd class="pt-1 -mb-2 pb-2">
            <em class="font-serif">{{ session.ended_by }}</em>
        </dd>
    {% endif %}
    </dl>
</div>
{% endfor %}
</section>
{% endfor %}

</div>