<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script defer src="{{ 'assets/js/alpine-collapse/cdn.min.js' | relative_url }}"></script>
    <script defer src="{{ 'assets/js/alpine/cdn.min.js' | relative_url }}"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        },
        chtml: {
          minScale: .8,
        }
      };
      </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <header class="bg-white shadow">
      <div class="container mx-auto px-4 py-6 flex justify-between items-center">
        <h1 class="text-2xl font-bold font-serif">
            <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
      </div>
    </header>
    {{ content }}
    <footer class="bg-white shadow mt-8">
      <div class="container mx-auto px-4 py-6 flex flex-wrap font-sans">
        <div class="self-end">
          <h6 class="text-sm font-bold text-gray-600">
            Contact &amp; Responsibility for Content
          </h6>
          <div class="text-[10px] font-sans text-gray-600">
            Department of Mathematics and Scientific Computing<br>
            University of Graz<br>
            Heinrichstraße 36, 8010 Graz<br>
            <a class="hover:text-gray-800" href="mailto:mathematik@uni-graz.at">mathematik@uni-graz.at</a><br>
            <a class="hover:text-gray-800" href="https://mathematik.uni-graz.at">mathematik.uni-graz.at</a>
          </div>
        </div>
        <div class="ml-auto self-end text-sm text-right text-gray-600">
          <div class="mb-2 mt-4 xs:mt-0">
            Made with
            <span class="text-primary inline-block h-[14px]">{% include icon_heart.html size="16" %}</span>
            by <a class="underline hover:text-sky-900" href="https://behackl.dev">behackl</a>
          </div>
          <div>
            &copy; {{ site.time | date: "%Y" }}</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>